<?xml version="1.0"?>
<configuration>

  <location path="EditFund.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="NewFund.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  
</configuration>
